@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap');
.navbar{
    background-color: #272B30 !important;
   

}
.navbar-brand{
    font-family: 'Xanh Mono', monospace !important;
    color: #fff !important;
    margin-right: 5rem;
}
.navbar-nav .nav-link{
    color: rgba(255, 255, 255, .55) ;
}
.nav-link.active{
    color: #fff !important;
}
.logo-img{
    width: 70px;
}


#login-btn{
  color:  rgb(255 255 255 / 55%) !important;
}
#joinFree-btn{
    color: #4799eb !important;
    border-color: #4799eb !important;
}